@model User
<div class="row mt-2">
    <div class="col-6">
        <label>Student Id</label>
        <input class="form-control" id="Email"  autocomplete="off" />
    </div>
</div>
<div class="row mt-2">
    <div class="col-6">
        <label>Student Name</label>
        <input class="form-control" id="Name" autocomplete="off" />
    </div>
</div>
<div class="row mt-2">
    <div class="col-6">
        <button class="btn btn-primary" type="button" onclick="SaveStudent()"> Save </button>
    </div>
</div>
