@model User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserRegistration</title>
</head>
<body>
    <div class="text-center">
        <p>
            Я, @Model.Name (@Model.Email) стал разработчиком ASP .NET.
        </p>
    </div>
</body>
</html>
